body {
  overflow-x: hidden;
  min-height: 100vh;
  /* If you want to change the site height you can remove overflow-y */
  /* pureSnow will automatically detect height of body tag */
  overflow-y: hidden;
}

.snowflake {
  position: absolute;
  width: 7px;
  height: 7px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 2px white);
}

[data-bs-theme="light"] .snowflake {
  width: 8px;
  height: 8px;
  background: linear-gradient(white, white);
  filter: drop-shadow(0 0 4px white);
}

[data-bs-theme="light"] body {
  background-color: #d3d3d3;
}

[data-bs-theme="light"] .bg-body-tertiary {
  background-color: #e3e3e3 !important;
  filter: drop-shadow(0 0 8px #cc231e);
}

.bg-body-tertiary {
  filter: drop-shadow(0 0 8px #cc231e);
}

[data-bs-theme="light"] .christmas-text {
  filter: drop-shadow(0 0 8px #ff7878);
}
.christmas-text {
  color: #cc231e;
  filter: drop-shadow(0 0 4px #ff7878);
  font-family: "Parisienne", cursive;
  font-size: 4em;
}
